<div>

  <div class="padding-bottom padding-top-10">
    Nuevo Pokemon
  </div>

  <div class="padding-bottom-10">
    <form [formGroup]="pokemonFormGroup">

      <div class="grid-container" style="text-align: left;">

        <div>

          <div class="padding-bottom grid-container-form">
            <div class="text-right">
              <label>Nombre:</label> &nbsp;
            </div>
           <div>
            <input placeholder="Nombre" formControlName="name" type="text" required>
           </div>
          </div>

          <div class="padding-bottom grid-container-form">

            <div class="text-right">
              <label>URL:</label> &nbsp;
            </div>
            <div>
              <input placeholder="URL" formControlName="image" type="text" required>
            </div>

          </div>

        </div>

        <div>

          <div class="padding-bottom grid-container-form">
            <div class="text-right">
              <label for="attack">Ataque: {{pokemonFormGroup.controls['attack'].value}} </label> &nbsp;
            </div>

            <div>
              <input name="attack" type="range" formControlName="attack" min="0" max="255" step="1">
            </div>
          </div>

          <div class="padding-bottom grid-container-form">
            <div class="text-right">
              <label for="attack">Defense: {{pokemonFormGroup.controls['defense'].value}} </label> &nbsp;
            </div>
            <div>
              <div>
                <input name="defense" type="range" formControlName="defense" min="0" max="255" step="1">
              </div>
            </div>
          </div>

        </div>

      </div>

      <div style="text-align: center;">
        <button     [ngClass]="{'button-disambled': !pokemonFormGroup.valid}"
        (click)="guardar(1)"
        [disabled]="!pokemonFormGroup.valid">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
          <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
        </svg>
        &nbsp;
          <span>
            Guardar
          </span>
        </button>
        &nbsp;
        <button (click)="cancelar()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
          &nbsp;
          <span>
            Cancelar
          </span>
        </button>
      </div>

    </form>
  </div>

</div>
